<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="reviewStatus">
        <p> Review pendiente!!! </p>
        <button ion-button secondary (click)="checkReview()">Get Review NS</button>
    </div>

    <button ion-button secondary (click)="goToPage()">Go to review</button>
</ion-content>