<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>ReviewPage</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="notEmpty">
    <ion-card *ngIf="!answer">
        <ion-card-content>
            <div text-center id="kanji">
                {{ currentCard?.character }}
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="answer">
        # {{ currentCard.number }}
        <ion-card-content>
            <div text-center id="kanji">
                {{ currentCard.character }}
            </div>
            <ion-card>
                <ion-card-content>
                    <!-- Add card content here! -->
                    {{ currentCard.meaning }}
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>
                    <!-- Add card content here! -->
                    {{ currentCard.hint }}
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>

    <button ion-button full (click)="showAnswer()" *ngIf="!answer">Ver Respuesta</button>

</ion-content>

<ion-footer *ngIf="answer">
    <ion-item>
        <button (click)="answerKanji(0)" ion-button clear>Dificil</button>
        <button (click)="answerKanji(1)" ion-button clear>Normal</button>
        <button (click)="answerKanji(2)" ion-button clear>Facil</button>
    </ion-item>
</ion-footer>